[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipykernel = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
fuzzywuzzy = "*"
python-leventhein = "*"
python-levenshtein = "*"

[requires]
python_version = "3.7"
platform_architecture_bits = "64bit"
