<!DOCTYPE html>
<html>

<head>
    <title>Industry</title>
    <link rel="stylesheet"
        href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="topnav" id="navbar">
        <div class="topnav-title">US Corporate Misconduct Tracker</div>
        <!-- <a href="#about">About</a> -->
        <a href="{{ url_for('score_page') }}">Score</a>
        <a href="{{ url_for('industry_page') }}" class="active">Industry</a>
        <a href="{{ url_for('index_page') }}">Home</a>
        <a href="javascript:void(0);" class="icon"
            onclick="navFunction('navbar')">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <!-- <iframe
        src="https://public.tableau.com/shared/DCCP76C5M?:embed=yes&:tabs=no&:toolbar=no&:showShareOptions=false:display_count=yes&:showVizHome=no"
        width="1000" height="800"></iframe> -->
    <!-- <iframe
        src="https://prod-useast-a.online.tableau.com/t/corporatemisconductdashboard/views/topviolatorbreakdown/TopViolatorBreakdown-Bubble?iframeSizedToWindow=true&:embed=y&:tabs=no&:toolbar=no&:showShareOptions=false&:showAppBanner=false&:display_count=no&:showVizHome=no&:origin=viz_share_link"
        width="1000" height="800"></iframe> -->
    <div class='tableauPlaceholder'
        style='width: 1366px; height: 795px; margin: auto; display: block;'>
        <object class='tableauViz' width='1366' height='795'
            style='display:none;'>
            <param name='host_url'
                value='https%3A%2F%2Fprod-useast-a.online.tableau.com%2F' />
            <param name='embed_code_version' value='3' />
            <param name='site_root'
                value='&#47;t&#47;corporatemisconductdashboard' />
            <param name='name'
                value='topviolatorbreakdown&#47;TopViolatorBreakdown-Bubble' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='no' />
            <param name='showAppBanner' value='false' />
            <param name='filter' value='iframeSizedToWindow=true' /></object>
    </div>
    <script type='text/javascript'
        src='https://prod-useast-a.online.tableau.com/javascripts/api/viz_v1.js'></script>
    <script src="./static/main.js" type='text/javascript'></script>
</body>

</html>