<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <link rel="stylesheet"
        href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="topnav" id="navbar">
        <a class="title">US Corporate Misconduct Tracker</a>
        <!-- <a href="#about">About</a> -->
        <a src="./score.html">Score</a>
        <a src="./industry.html">Industry</a>
        <a href="#home" class="active">Home</a>
        <a href="javascript:void(0);" class="icon"
            onclick="navFunction('navbar')">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <script src="./static/main.js" type='text/javascript'></script>
</body>

</html>